<div>
  <div class="container">
    <h2>Story</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus nunc, molestie eget ultricies vel, mattis sit amet lorem. 
      Fusce lobortis arcu urna, vel dapibus sem eleifend nec. Integer non dictum nisi. Sed rutrum a nisl non pulvinar. 
      Etiam nec augue quis diam accumsan ornare facilisis eget purus. Cras bibendum vehicula bibendum. Pellentesque sit amet semper ligula. 
      Mauris felis sem, molestie ut dolor id, semper mattis quam. Donec at viverra velit. Sed ut felis gravida, fermentum turpis vitae, finibus felis. 
      Nam dui ipsum, tempus a metus a, pellentesque efficitur diam. Integer venenatis convallis tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
      Donec in magna sem. Pellentesque diam tortor, luctus eu sapien id, dignissim dapibus tellus. 
    </p>
    <p>
      Vestibulum molestie volutpat ipsum, et cursus nisi luctus vel. 
      Praesent sed augue at nibh viverra elementum consequat nec arcu. In venenatis condimentum ipsum. Mauris rutrum maximus vulputate. Proin feugiat mauris in eleifend mollis. 
      In mattis eu elit non aliquet. Praesent hendrerit auctor imperdiet. Vestibulum a lacus vitae odio imperdiet blandit vitae ac nisi. Proin id nibh sit amet eros varius rhoncus. 
      Vestibulum iaculis, tellus at bibendum scelerisque, enim est maximus lacus, fermentum efficitur eros nibh in turpis. 
      Aenean eget nulla commodo, posuere lorem vitae, aliquam enim. Aenean eleifend eleifend nunc, congue gravida diam varius sit amet. 
      Vestibulum at sapien in ligula commodo fermentum. Duis rhoncus placerat neque quis vestibulum. Pellentesque dictum dui diam, vitae accumsan turpis rhoncus ut.
      Nunc vel eleifend sapien. Maecenas faucibus enim lacinia mauris ullamcorper, fringilla faucibus velit lacinia.
    </p>
    <p>
      Sed gravida lorem sed dignissim iaculis. Duis imperdiet mauris nec arcu egestas iaculis. Aenean blandit sem dolor, nec dictum mi lacinia sit amet. 
      Nunc in facilisis massa, et convallis lacus. Nam facilisis, enim eu porttitor elementum, purus turpis congue risus, dictum egestas metus mauris nec metus. 
      Pellentesque vel hendrerit magna, id pretium augue. Nulla est erat, tempus sit amet sollicitudin ac, hendrerit a nibh. 
      Integer ac eros eu velit consequat convallis. In commodo nisi ac commodo ornare. Praesent viverra elit eget ultricies blandit. 
      Phasellus a nulla eleifend lorem scelerisque luctus. Donec ultrices rhoncus massa vitae pretium. Phasellus id varius erat. Suspendisse potenti. 
      Vestibulum non augue vitae ligula pharetra gravida. Nullam id vulputate velit. Vivamus scelerisque volutpat aliquam.
    </p>
  </div>
  <div class="container">
    <h2>Tidbits</h2>
    <h6>What was your most memorable date?</h6>
    <p>lorem ipsum...</p>
    <h6>What's your favorite activity together?</h6>
    <p>lorem ipsum...</p>
    <h6>Where are you going for your honeymoon?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus.
    </p>
    <h6>What is the best meal you've eaten together?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus.
    </p>
    <h6>What is the most memorable trip you have taken together?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
      Curabitur convallis tortor vel tellus dapibus, at dapibus orci ultricies. Phasellus aliquam rhoncus dolor, a luctus magna ultricies at. 
      Ut at orci ac nibh faucibus scelerisque. Ut quis nisl eu enim rutrum rutrum. In volutpat, arcu sed sagittis ullamcorper, nulla urna rhoncus dolor, 
      at eleifend neque lorem ultrices enim. Praesent cursus sed risus ac hendrerit. Sed vitae maximus enim. Maecenas non libero orci. Duis at dapibus ligula, sed lobortis ex. 
      Donec facilisis leo orci. 
    </p>
    <h6>A life goal of ours</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus.
    </p>
    <h6>The dorkiest thing about us</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus.
    </p>
    <h6>We are regulars at</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus.
    </p>
    <h6>We take pride in</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nunc ac faucibus volutpat. Sed non lacus quis massa lacinia cursus vitae eu leo. 
      Donec elementum molestie quam in ultricies. In tincidunt eu nibh sed tempus.
    </p>
  </div>
</div>
  



<div>
  <header>
    <h2>Schedule</h2>
    <p>Friday 13th October, 2023</p>
  </header>
  <hr>
  <h6>Photoshoot</h6>
  <h6>Ceremony & Reception</h6>
  <hr>
</div>

<div>
  <h2>Registry</h2>
</div>

<div>
  <h2>Travel</h2>
</div>

<div>
  <h2>Q&A</h2>
</div>

<div>
  <h2>Wedding Party</h2>
</div>

<footer>
  by: Franco Aguilar Hernandez
</footer>