/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 27px;
  padding-top: 27px;
  border: black dotted 1px;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.2rem;
}